/**
 * @name jakeisjsjs
 * @author Disease#5663
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/

@import url('https://maendisease.github.io/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css');

:root {
  --accent-hue: 261;
  --accent-saturation: 75%;
  --accent-brightness: 72%;
  --background-accent-hue: 300;
  --background-accent-saturation: 0%;
  --background-accent-brightness: 0%;
  --background-image: initial; /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 3px;
  --background-overlay-opacity: 68%;
  --background-overlay-color-lightness: -0.5;
  --background-hue-shift-strength: 91%;
  --window-background-image: initial;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 0%;
  --window-blur: 6;
  --window-friends-blur: 11;
  --window-margin: 4;
  --window-margin-left: 0;
  --window-border-radius: 0px;
  --window-background-lightness: -0.33;
  --window-accent-tint-strength: 0%;
  --chat-bubble: 0;
  --text-link-hue: 227;
  --chat-text-brightness: -0.33;
  --home-icon: initial;
  --favorites-icon: initial;
  --dock-blur: 0; /* Blur intensity of the dock. */
  --dock-border-radius: 1;
  --sidebar-width: 238px;
  --members-width: 64px;
  --sidebar-text-brightness: -0.5;
  --background-floating-blur: 0px;
  --floating-background-lightness: -0.14;
  --background-floating-opacity: 1;
  --enable-floating-transparency: 1;
  --custom-font-display: "";
  --custom-font-regular: "";
  --custom-font-primary: "";
  --custom-font-code: "";
  --enable-blur: 1;
}

/* Any custom CSS below here */


